In [1]:
from pyiceberg.catalog import load_catalog

In [2]:
catalog = load_catalog(
    "default",
    **{
        "uri": "http://catalog:8181",
        "s3.endpoint": "http://minio:9000",
        "py-io-impl": "pyiceberg.io.pyarrow.PyArrowFileIO",
        "s3.access-key-id": "minio",
        "s3.secret-access-key": "minio123",
    }
)

In [3]:
catalog.list_namespaces()

[('redpanda',)]

In [4]:
table = catalog.load_table("redpanda.value_schema_id_prefix")

In [5]:
df = table.scan().to_pandas()

In [6]:
df

,redpanda,user_id,event_type,ts
0,"{'partition': 0, 'offset': 0, 'timestamp': 202...",2324,BUTTON_CLICK,2024-11-25T20:23:59.380Z
1,"{'partition': 0, 'offset': 1, 'timestamp': 202...",3333,SCROLL,2024-11-25T20:24:14.774Z
2,"{'partition': 0, 'offset': 2, 'timestamp': 202...",7272,BUTTON_CLICK,2024-11-25T20:24:34.552Z