In [10]:
from pyiceberg.catalog import load_catalog
import json
import pandas as pd

In [2]:
catalog = load_catalog(
    "default",
    **{
        "uri": "http://catalog:8181",
        "s3.endpoint": "http://minio:9000",
        "py-io-impl": "pyiceberg.io.pyarrow.PyArrowFileIO",
        "s3.access-key-id": "minio",
        "s3.secret-access-key": "minio123",
    }
)

In [3]:
catalog.list_namespaces()

[('default',), ('nyc',), ('redpanda',)]

In [7]:
table = catalog.load_table("redpanda.prueba")

In [8]:
df = table.scan().to_pandas()

In [12]:
df1 = pd.DataFrame(df['value'].apply(json.loads).values.tolist())

In [13]:
df1

,Fecha,AARR,V1,I1,PA1,V2,I2,PA2,V3,I3,...,PA,FP,Frec,V12,V23,V31,EA_Import,EQ_Import,EA_Export,EQ_Export
0,2025-03-25 16:57:46,Prim,235.50,158.200,35.50,234.50,165.000,36.22,237.00,173.800,...,111.640,-0.95,50.000,406.20,408.40,409.80,22528,1660,10,64
1,2025-03-25 16:57:41,SecL2,235.50,38.400,4.48,234.30,0.000,0.00,236.90,38.000,...,0.039,0.00,50.000,406.00,408.10,409.80,44117,5458,10218,7325
2,2025-03-25 16:57:36,SecL1,235.40,0.000,0.00,234.30,0.000,0.00,236.70,0.000,...,0.000,0.00,50.000,406.00,408.00,409.40,13839,8573,0,110
3,2025-03-25 14:06:07,Cantera,12367.05,55.221,-682.00,12413.06,55.908,-693.00,12454.84,56.852,...,-2084.000,-1.00,50.032,21410.49,21615.04,21488.96,865857,1163887,4196463,545162
4,2025-03-25 14:05:07,Cantera,12372.95,55.525,-686.00,12413.06,56.244,-698.00,12460.73,57.062,...,-2096.000,1.00,50.048,21413.80,21615.30,21499.91,865857,1163887,4196428,545162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,2025-03-25 12:59:07,Cantera,12473.21,46.656,-580.00,12489.50,45.199,-564.00,12560.89,48.600,...,-1754.000,1.00,50.016,21557.55,21763.19,21693.72,865840,1163874,4194541,545135
138,2025-03-25 12:59:12,I202,235.40,34.250,3225.00,235.30,407.500,9100.00,237.00,92.500,...,11625.000,0.58,50.000,406.40,409.40,409.80,16224,2273,3516,265
139,2025-03-25 13:00:07,Cantera,12467.31,47.225,-588.00,12471.86,45.418,-565.00,12537.32,48.941,...,-1767.000,-1.00,50.023,21539.54,21722.80,21667.59,865840,1163874,4194570,545136
140,2025-03-25 13:01:07,Cantera,12426.03,47.903,-594.00,12436.58,46.496,-577.00,12501.97,49.864,...,-1795.000,1.00,50.024,21473.55,21657.98,21593.40,865840,1163874,4194600,545136
141,2025-03-25 13:02:07,Cantera,12420.13,49.641,-615.00,12436.58,48.128,-598.00,12496.08,51.633,...,-1858.000,1.00,50.003,21469.55,21654.47,21583.10,865840,1163874,4194631,545136

## Duckdb

In [8]:
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
%sql duckdb:///:memory:

There's a new jupysql version available (0.11.0), you're running 0.10.5. To upgrade: pip install jupysql --upgrade
Deploy Dash apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [9]:
%sql SELECT * FROM df LIMIT 20

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(duckdb.duckdb.CatalogException) Catalog Error: Table with name df does not exist!
Did you mean "pg_depend"?

LINE 1: SELECT * FROM df LIMIT 20
                      ^
[SQL: SELECT * FROM df LIMIT 20]
(Background on this error at: https://sqlalche.me/e/20/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community
25/03/24 08:47:02 WARN JavaUtils: Attempt to delete using native Unix OS command failed for path = /tmp/spark-0fd8beb1-140d-419d-aefe-793271fb570f/pyspark-bbedf3f1-2058-463a-90a3-cc78e5c9c4a8. Falling back to Java IO way
java.io.IOException: Failed to delete: /tmp/spark-0fd8beb1-140d-419d-aefe-793271fb570f/pyspark-bbedf3f1-2058-463a-90a3-cc78e5c9c4a8
	at org.apache.spark.network.util.JavaUtils.deleteRecursivelyUsingUnixNative(JavaUtils.java:174)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:109)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:90)
	at org.apache.spark.util.SparkFileUtils.deleteRecursively(SparkFileUtils.scala:121)
	at org.apache.spark.util.SparkFileUtils.deleteRecursively$(SparkFileUtils.scala:120)
	at org.apache.spark.util.Utils$.deleteRecursively(Utils.scala:1126)
	at org.apache.spark.util.ShutdownHookManager$.$anonfun$new$4(ShutdownHookManager.scala:65)
	at org.apache.spark.util.ShutdownHookManager$.$anonfun$new$4$adapted(ShutdownHookManager.scala:62)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.ArrayOps$ofRef.foreach(ArrayOps.scala:198)
	at org.apache.spark.util.ShutdownHookManager$.$anonfun$new$2(ShutdownHookManager.scala:62)
	at org.apache.spark.util.SparkShutdownHook.run(ShutdownHookManager.scala:214)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$2(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$1(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.util.SparkShutdownHookManager.runAll(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anon$2.run(ShutdownHookManager.scala:178)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:539)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:840)

Closing duckdb:///:memory: